.personal-info {
  background-color: white;
  color: #27272a;
  font-size: 1.3rem;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #ffff;
  width: 90%;

}

.personal-info .heading-container {
  display: flex;
  justify-content: space-between;
}

.personal-info .heading-container .down-arrow{
  cursor: pointer;
}

.personal-info .heading-container h1 {
  font-size: 1.7rem;
  font-weight: normal;
  margin-bottom: 20px;
}
.personal-info .input-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);;
  gap: 10px;

  
  background-color: #f3f4f6;
  color: #27272a;
  padding: 30px;
  border-radius: 30px;
}

.personal-info .input-container h2 {
  font-size: 1.3rem;
  font-weight: normal;

  grid-column: 1 / -1;
  margin-bottom: 20px;
} 

.personal-info .input-container label{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.personal-info .input-container label input{
  border-radius: 3px;
  border: 1px solid lightgray;
  outline-color: lightgray;
  font-size: 1rem;
  padding: 8px;
}